{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href={% url "home" %}>My Receipts</a></li>
                <li><a href={% url "account_list" %}>My Accounts</a></li>
                <li><a href={% url "category_list" %}>My Categories</a></li>
                <li><a href={% url "create_receipt" %}>Create Receipt</a></li>
                <li><a href={% url "create_category" %}>Create Category</a></li>
                <li><a href={% url "create_account" %}>Create Account</a></li>
                <li><a href={% url "logout" %}>Logout</a></li>
                {% else %}
                <li><a href={% url "signup" %}>Sign Up</a></li>
                <li><a href={% url "login" %}>Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        <h2>The Expensables</h2>
        {% block content %}
        {% endblock content %}
        <footer>
            <a href="https://www.flaticon.com/free-icons/crime-investigation" title="crime investigation icons">Crime investigation icons created by Vectorslab - Flaticon</a>
        </footer>
</body>
</html>
