/* global tags */
@font-face {
    font-family: "op-napalm";
    src: url("operation-napalm-font/OperationNapalm.ttf");
}

html {
    background-color: #172601;
}

/* layout tags */
body {
    display: flex;
}

header {
    padding: 1em;
    background-color: #585936;
    height: 100%;
    min-height: 27.3em;
}

main {
    padding: 1em;
    min-height: 20em;
    background-color: #172601;
}

footer {
    padding: 1em;
    background-color: #0D0000;
}

/* nav tags */
ul {
    list-style-image: url("bullet.png");
}

li {
    border: thick dashed #0D0000;
    background-color: #22261A;
    padding: 0.2em;
    padding-left: 0.2em;
    margin:0.2em;
    background-size: 15px;
}

a:visited {
    color:#6C8c77;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #6C8c77;
}

a:active {
    text-decoration: none;
    color: #6C8c77
}

a:link {
    text-decoration: none;
    color: #6C8c77;
}

/* text tags */
h1,
h2 {
    font-family: "op-napalm";
    color:#585936;
    padding-left: 0.5em;
}

p,
td,
th {
    color: #6C8c77;
}

/* table tags */
th,
td {
    background-color: #22261A;
    padding: .5em;
    min-width: 3em;
}

table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
}

.cash {
    text-align: right;
}
